{% load bootstrap4 %}
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://www.logolynx.com/images/logolynx/c2/c2530e1fd348d590b9b804752d44a06c.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    {% endblock %}
</head>
<body >  
    {% include "navbar.html" %}
    {% block content %}
    {% endblock %}
    
    
    
    
    
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        <script src="main.js"></script>
    {% endblock %}
</body>
</html>
<style>

@media screen and (max-width: 1280px) {
  body {
    background-color: rgb(143, 139, 158);
  }
}
</style>