<nav id="navbar" class="">
    <div class="nav-wrapper">
      <!-- Navbar Logo -->
  
      <div class="logo">
        <a href="/"><img src="https://images.pexels.com/photos/1643389/pexels-photo-1643389.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" height="70"
            width="220"> </a>
      </div>
  
      <ul id="menu">
        <li>
          <a>
            <div class="sm-form active-pink active-pink-2 mb-3 mt-0">
              <form action="{% url 'search_results'%}" method="post" enctype="multipart/form-data" style="width:200px;">
                {% csrf_token %}
                <input class="form-control" type="text" placeholder="Search Business" name="name">
              </form>
  
            </div>
          </a>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Neighbourhood</a></li>
        <li><a href="/biz">Businesses</a></li>
        {% if user.is_authenticated %}
        <li><a href="/profile/{{user.username}}">{{user.username}}</a></li>
        {% else %}
        <li><a href="/profile">Profile</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  
  
  <!-- Menu Icon -->
  <div class="menuIcon">
    <span class="icon icon-bars"></span>
    <span class="icon icon-bars overlay"></span>
  </div>
  
  
  <div class="overlay-menu">
    <ul id="menu" style="background-color:rgb(139, 61, 135)">
      <li><a href="/">Home</a></li>
      <li><a href="/create">Neighborhood</a></li>
      <li><a href="/biz">Businesses</a></li>
      <li><a href="/profile">Profile</a></li>
      <li>
          <a>
              <form action="{% url 'search_results'%}" method="post" enctype="multipart/form-data" style="width:200px;">
                {% csrf_token %}
                <input class="form-control" type="text" placeholder="Search Business" name="name">
              </form>
          </a>
        </li>
    </ul>
  </div>
  
  <br>
  <br>
  <br>
  
  <style>
    * {
      border: 0;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
    body {
      background: rgb(189, 188, 188);
      font-family: Lato, Helvetica, Arial, sans-serif;
    }
  
    a {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      text-decoration: none;
    }
  
  
    #navbar {
      background: rgb(31, 89, 116);
      color: rgb(61, 11, 53);
      position: fixed;
      top: 0;
      height: 60px;
      line-height: 60px;
      width: 100vw;
      z-index: 1;
    }
  
    .nav-wrapper {
      margin: auto;
      text-align: center;
      width: 70%;
    }
    #menu{
      background-color:rgb(1, 0, 3);
      
    }
  
    @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    }
  
    @media(max-width: 638px) {
      .nav-wrapper {
        width: 100%;
      }
    }
  
  
    .logo {
      float: left;
      margin-left: 8px;
    }
  
  
  
    #navbar ul {
      display: inline-block;
      /* float: right; */
      list-style: none;
      /* margin-right: 14px; */
      margin-top: -2px;
      text-align: right;
      transition: transform 0.5s ease-out;
      -webkit-transition: transform 0.5s ease-out;
    }
  
    @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    }
  
    @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }
  
    #navbar li {
      display: inline-block;
    }
  
    #navbar li a {
      color: rgb(202, 243, 236);
      display: block;
      font-size: 0.7em;
      height: 50px;
      letter-spacing: 5px;
      margin: 0 20px;
      padding: 0 4px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
    }
  
    #navbar li a:hover {
      /* border-bottom: 1px solid rgb(28, 121, 184); */
      color: rgb(253, 253, 253);
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
    }
  
    #navbar li a:before,
    #navbar li a:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      bottom: -1px;
      background: rgb(12, 0, 10);
    }
  
    #navbar li a:before {
      left: 0;
      transition: 0.5s;
    }
  
    #navbar li a:after {
      background: rgb(197, 175, 175);
      right: 0;
    }
  
    #navbar li a:hover:before {
      background: rgb(10, 1, 5);
      width: 100%;
      padding: 2px;
      transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
    }
  
    #navbar li a:hover:after {
      background: transparent;
      width: 100%;
    }
  
  
  
    @media(max-width: 640px) {
      .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 1;
      }
  
      /* Icon Bars */
      .icon-bars {
        background: rgb(13, 26, 38);
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
  
      .icon-bars::before {
        background: rgb(13, 26, 38);
        content: '';
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
    
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
      }
  
      .icon-bars::after {
        margin-top: 0px;
        background: rgb(117, 13, 112);
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
      }
  
      .icon-bars.overlay {
        background: rgb(97, 114, 129);
        background: rgb(209, 221, 230);
        width: 20px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
      }
      @keyframes middleBar {
        0% {
          width: 0px
        }
        50% {
          width: 20px
        }
        100% {
          width: 0px
        }
      }
      @-webkit-keyframes middleBar {
        0% {
          width: 0px
        }
        50% {
          width: 20px
        }
        100% {
          width: 0px
        }
      }
  
      .icon-bars.overlay::before {
        background: rgb(243, 245, 247);
        background: rgb(239, 243, 247);
        width: 10px;
        animation: topBar 3s infinite 0.2s;
        -webkit-animation: topBar 3s infinite 0s;
      }
      @keyframes topBar {
        0% {
          width: 0px
        }
        50% {
          width: 10px
        }
        100% {
          width: 0px
        }
      }
      @-webkit-keyframes topBar {
        0% {
          width: 0px
        }
        50% {
          width: 10px
        }
        100% {
          width: 0px
        }
      }
  
      .icon-bars.overlay::after {
        background: rgb(236, 240, 243);
        background: rgb(237, 240, 243);
        width: 15px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
      }
      @keyframes bottomBar {
        0% {
          width: 0px
        }
        50% {
          width: 15px
        }
        100% {
          width: 0px
        }
      }
      @-webkit-keyframes bottomBar {
        0% {
          width: 0px
        }
        50% {
          width: 15px
        }
        100% {
          width: 0px
        }
      }
  
  
      /* Toggle Menu Icon */
      .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
  
      .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        /* opacity: 0; */
      }
  
      .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
  
      .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        /* opacity: 0; */
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
      }
    }
  
  
  
    .overlay-menu {
      /* background: rgb(6, 19, 24); */
      color: rgb(232, 240, 247);
      display: block;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 15px;
      transform: translateX(-100%);
      width: 100vw;
      height: 100vh;
      z-index: 1;
      /* -webkit-transition: transform 0.2s ease-out; */
      transition: transform 0.2s ease-out;
    }
  
    .overlay-menu ul,
    .overlay-menu li {
      display: block;
      position: relative;
    }
  
    .overlay-menu li a {
      display: block;
      font-size: 1.8em;
      letter-spacing: 4px;
      /*   opacity: 0; */
      padding: 10px 0;
      text-align: right;
      text-transform: uppercase;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease;
      
    }
  
    .overlay-menu li a:hover,
    .overlay-menu li a:active {
      color: rgb(77, 6, 59);
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease;
    }
  </style>
  
  <script>
  
  
  
    let menuIcon = document.querySelector('.menuIcon');
    let nav = document.querySelector('.overlay-menu');
  
    menuIcon.addEventListener('click', () => {
      if (nav.style.transform != 'translateX(0%)') {
        nav.style.transform = 'translateX(0%)';
        nav.style.transition = 'transform 0.2s ease-out';
      } else {
        nav.style.transform = 'translateX(-100%)';
        nav.style.transition = 'transform 0.2s ease-out';
      }
    });
  
  
    // Toggle Menu Icon ========================================
    let toggleIcon = document.querySelector('.menuIcon');
  
    toggleIcon.addEventListener('click', () => {
      if (toggleIcon.className != 'menuIcon toggle') {
        toggleIcon.className += ' toggle';
      } else {
        toggleIcon.className = 'menuIcon';
      }
    });
  
  </script>
  